*{
    margin:0;
    padding:0;
}

.sidebar{
    background-color: grey;
    /* width:434px; */
    height:100vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
padding:50px;
}
.sidebar nav li{
  list-style: none;
  font-size:30px;
  padding:33px;
    }
    .sidebar nav li a{
        text-decoration:none;
        color:black;
          }
          
.main{
    /* background-color: yellow; */
    width:80vw;
}
.container{
    display:flex;
    
}
.infocontainer{
 background-color:green; 
    height:50vh;
    width:60vw;
    margin:147px auto;
    display:flex;
    
    justify-content:space-around;
}
.devinfo{
    display:flex;
    justify-content:center;
    flex-direction: column;
}
.hello{
font-size:70px;

}
.name{
    font-size: 55px;
    font-weight:bold;
}
.about{
    font-size:25px;
}
.moreabout
{
    font-size:20px;
    margin-top:10px;
}
.buttons button{
margin:20px;
padding:10px 15px;
background-color: skyblue;
color:white;
border-radius: 20px;
font-weight:bold;
font-size:21px;
cursor: pointer;
}
.buttons button:hover{
    background-color:white;
    color:skyblue;
}
.myphoto img{
   height:50vh;
}
.contactform {
  font-style:oblique;
  padding:0 34px;
  padding-top:244px;
}
.contactform h1{
    /* text-align:center; */
    padding:12px 0px;
}
.contactform form div{
    padding:10px 0px;
    display:flex;
    flex-direction:column; 

    
}
.contactform form div input{
    width:20vw;
    border-radius:5px;
    margin:2px 0px 0px 0px;
    padding:3px; 
}

#emailHelp{
    font-size:12px;
    color:blue;
    margin:0 5px;

}
#form-check {
    display:flex;
    flex-direction: row;
}
#form-check input{
    width:24px;
    margin:3px 0;
}
.btn-sm{
    width:100px;
}
.dailyitem {
    margin:20px;
}
.dailycontainer h1{
 margin:23px;
}
.intro h2{
    font-family: sans-serif;

}
.intro p{
    font-family: 'Times New Roman', Times, serif;

}
.skillcontainer{
    padding: 1px;;
}
.skill{
    width:260px;
    height:13px;
    margin:1px;
    background-color: red;
}
.skillitem{
    display:flex;
}
.hundred{
    width:265px;
}
.fifty{
    width:125px;
    background-color: yellow;
    border:2px solid red;
}
.twenty{
width:100px;
background-color: aqua;
}
@media(max-width:1245px) {
    *{
    background-color:pink;
}
}
.sidebargo{
    transform: translate(-443px,0px);
    position:relative;
}
.hammer{
    position:absolute;
    cursor: pointer;
    top:10px;
    left:10px;
    
}
.cross{
    margin-left: 320px;
}